@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0.042 265.755);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.965 0.001 286.375);
    --secondary-foreground: oklch(0.205 0.042 265.755);
    --muted: oklch(0.965 0.001 286.375);
    --muted-foreground: oklch(0.556 0.013 286.375);
    --accent: oklch(0.965 0.001 286.375);
    --accent-foreground: oklch(0.205 0.042 265.755);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0.004 286.375);
    --input: oklch(0.922 0.004 286.375);
    --ring: oklch(0.708 0.015 286.375);
    --radius: 0.5rem;
  }

  .dark {
    --card: oklch(0.205 0.042 265.755);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0.042 265.755);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0.004 286.375);
    --primary-foreground: oklch(0.205 0.042 265.755);
    --secondary: oklch(0.275 0.033 286.289);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.275 0.033 286.289);
    --muted-foreground: oklch(0.708 0.015 286.375);
    --accent: oklch(0.275 0.033 286.289);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.275 0.033 286.289);
    --input: oklch(0.275 0.033 286.289);
    --ring: oklch(0.447 0.013 286.375);
  }
}
